fieldset
    input(type='hidden',name="_csrf",value=csrfToken)
    label.form-group First Name:
        input(type="text" name="firstName" value=firstName class="form-control")
    label.form-group Last Name:
        input(type="text" name="lastName" value=lastName class="form-control")
    label.form-group Email:
        input(type="email" name="email" value=email class="form-control")
    label.form-group Password:
        input(type="password" name="password" class="form-control")
    label.form-group Confirm Password:
        input(type="password" name="confirmedPassword" class="form-control")
